@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --pink: #d4af37;
  --bg: #0a0a0a;
  --pink-bg: #fff1f7;
  --shadow: 0 2px 2px rgba(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0a0a0a;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/hero-bg.jpg");
  background-size: cover; /* Scales image to cover the area */
  background-position: center; /* Centers the background image */ /* Adjusts transparency for better readability */
  z-index: -1;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: "Ephesis", cursive;
  font-weight: 500;
  font-size: 4rem;
}

/* .heading-title {
  padding-top: 75px;
} */

.heading-2-title {
  font-size: 3rem;
}

.h1-scroll {
  opacity: 0; /* Hidden initially */
  transform: translateX(-1000px); /* Move off-center initially */
  transition: opacity 0 0.3s ease, transform 0.3s ease;
}

.h1-scroll-story {
  opacity: 0; /* Hidden initially */
  transform: translateX(-1000px); /* Move off-center initially */
  transition: opacity 0 0.3s ease, transform 0.3s ease;
}

.h1-scroll-gallery {
  opacity: 0; /* Hidden initially */
  transform: translateX(-1000px); /* Move off-center initially */
  transition: opacity 0 0.3s ease, transform 0.3s ease;
}

.hero {
  min-height: 100vh;
}

.hero h1 {
  font-family: "Ephesis", cursive;
  font-weight: 500;
  font-size: 4rem;
  transition: ease-in 1s;
}

.hero h4 {
  font-size: 1.6;
  font-weight: 400;
}

.hero p {
  font-size: 1.4rem;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero a {
  color: var(--pink);
  background-color: white;
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}

.navbar-brand {
  font-family: "Ephesis", cursive;
  font-weight: 500;
  font-size: 3rem;
}

.offcanvas-header .offcanvas-title {
  font-family: "Ephesis", cursive;
  font-weight: 500;
  font-size: 6rem;
  text-align: center;
}

.my-navbar .nav-link {
  font-weight: 400;
  text-transform: uppercase;
}

.bottom-nav {
  position: fixed;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, 50%);
  overflow: hidden;
  width: 80%;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: var(--shadow);
  z-index: 9999;
  transition: opacity 0.3s ease;
  display: none;
}

.bottom-nav ul {
  margin: auto;
  padding: 12px;
  display: flex;
  justify-content: space-around;
}

.bottom-nav ul li {
  list-style: none;
}

.bottom-nav ul li a {
  text-decoration: none;
}

.card-info {
  background-color: #ffffff;
  background-image: url("./img/awan.png");
  background-size: cover; /* Adjusts image to fully cover the background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the background image */
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 24px;
  width: 350px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.card-info .card-info-content {
  width: 200px;
}

.smooth-wrapper {
  padding-top: 0px;
  padding-bottom: 100vh; /* Extra padding to enable scroll */
}

.img-home-up {
  border-radius: 20px 20px 200px;
  width: 80%;
}

.img-home-down {
  border-radius: 20px 20px 20px 200px;
  width: 80%;
}

.col-home-scroll-up {
  opacity: 0; /* Hidden initially */
  transform: translateX(-100px); /* Move off-center initially */
  transition: opacity 0 0.3s ease, transform 0.3s ease;
}

.col-home-scroll-down {
  opacity: 0; /* Hidden initially */
  transform: translateX(100px); /* Move off-center initially */
  transition: opacity 0 0.3s ease, transform 0.3s ease;
}

.quotes {
  min-height: 100vh;
}

.quotes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 150%; /* Full height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* Dark gradient overlay */ url("./img/alam1.png");

  background-size: cover; /* Scales image to cover the area */
  background-position: center; /* Centers the background image */
  z-index: -1;
  background-repeat: no-repeat; /* Prevent repeating the image */
}

.info {
  min-height: 100vh;
}

.info a {
  text-decoration: none;
  background-color: #0a0a0a;
  color: white;
}
.info a:hover {
  text-decoration: none;
  background-color: var(--pink);
  color: black;
}

.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* Dark gradient overlay */ url("./img/door.png");

  background-size: cover; /* Scales image to cover the area */
  background-position: center; /* Centers the background image */
  z-index: -1;
  background-repeat: no-repeat; /* Prevent repeating the image */
}

.gallery {
  position: relative;
  min-height: 125vh;
  overflow: hidden;
}

.gallery p {
  color: yellow;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the area */
  z-index: -1;
}

.gallery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  z-index: 0; /* Overlay the video */
}

.mempelai {
  min-height: 125vh;
}

.mempelai::before {
  content: "";
  position: absolute;
  top: 1;
  left: 0;
  width: 100%; /* Full width */
  height: 200%; /* Full height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* Dark gradient overlay */ url("./img/alam1.png");

  background-size: cover; /* Scales image to cover the area */
  background-position: center; /* Centers the background image */
  z-index: -1;
  background-repeat: no-repeat; /* Prevent repeating the image */
}

.img-rose-story-up {
  width: 50%;
  position: relative;
  bottom: 200px;
  float: right;
  animation: sway 5s ease-in-out infinite;
  transform-origin: bottom center; /* Anchor the animation to the bottom */
}

.img-floral-story-up {
  width: 50%;
  position: absolute;
  animation: sway 5s ease-in-out infinite;
  transform-origin: bottom center; /* Anchor the animation to the bottom */
}

@keyframes sway {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(2deg) scale(1.02);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-2deg) scale(1.02);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.love-story {
  min-height: 100vh;
}

.scroll-container {
  display: flex;
  /* overflow-x: auto; */
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 100vh;
}

.love-story {
  flex: 0 0 100vw; /* Full width */
  height: 100vh; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-color: #333; /* Adjust background as needed */
}

/* Optional: Smooth scroll for non-GSAP supported browsers */
.scroll-container {
  scroll-behavior: smooth;
}

.love-story::before {
  content: "";
  position: absolute;
  top: 1;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* Dark gradient overlay */ url("./img/romantic-bg.png");

  background-size: cover; /* Scales image to cover the area */
  background-position: center; /* Centers the background image */
  z-index: -1;
  background-repeat: no-repeat; /* Prevent repeating the image */
}

/* Responsive Settings */

/* desktop */
@media (max-width: 1024px) {
  .bottom-nav {
    display: none;
  }
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }

  .bottom-nav {
    display: none;
  }

  .img-floral-story-up {
    width: 30%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .my-navbar .nav-link {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  .navbar-brand {
    font-size: 4rem;
  }

  .navbar {
    padding: 0px;
  }

  .bottom-nav {
    display: none;
  }

  .bottom-nav ul li a {
    text-decoration: none;
    font-size: 2.5rem;
  }

  .heading-2-title {
    font-size: 2.5rem;
  }

  .img-floral-story-up {
    width: 40%;
  }

  .img-rose-story-up {
    width: 50%;
    position: inline-block;
    bottom: 200px;
    float: right;
    animation: sway 5s ease-in-out infinite;
    transform-origin: bottom center; /* Anchor the animation to the bottom */
  }

  .card-info .card-info-content {
    width: 300px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3;
  }

  .img-home-up {
    border-radius: 20px 20px 200px;
    width: 100%;
  }

  .img-home-down {
    border-radius: 20px 20px 20px 200px;
    width: 100%;
  }

  .img-floral-story-up {
    width: 50%;
  }

  .img-rose-story-up {
    width: 50%;
    position: inline-block;
    bottom: 220px;
    float: right;
    animation: sway 5s ease-in-out infinite;
    transform-origin: bottom center; /* Anchor the animation to the bottom */
  }

  .card-info {
    width: 350px;
  }

  .card-info .card-info-content {
    width: 300px;
  }

  .info::before {
    height: 200%;
  }

  .mempelai {
    min-height: 170vh;
  }

  .mempelai::before {
    height: 200%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 1;
  }

  .love-story {
    flex: 0 0 100%; /* Ensures full width on very small screens */
    padding: 3em 1em; /* Larger padding for readability */
    height: 200%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 40%;
  }

  .simply-countdown > .simply-section {
    padding: 25px;
    margin: 1;
  }

  .info {
    min-height: 150vh;
  }
}
